@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@700&family=Open+Sans:wght@300;800&family=Oswald:wght@700&family=Roboto:wght@500;900&display=swap");
button {
  height: 55px;
  width: 55px;
  border-radius: 28px;
  border: solid 5px rgb(233, 90, 114);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
button img {
  height: 43px;
  width: 43px;
}

.homepage-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}
p {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: rgb(243, 82, 109);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: rgb(233, 156, 169);
}
